.inputVal {
    width: 30px;
}

.buttonOP {
    width: 80px;
}

.spaceD {
    padding-top: 5px;
}

.spaceSec {
    border: #003c80;
    border-style: groove;
    background: powderblue;
}

.scrollSec {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}